{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
</head>
<style>
    h1 {
        font-family: 'Great';
        position: relative;
        left: 10%;
    }
     footer {
        text-align: center;
    }
</style>
<body>
    <nav class="w3-sidebar w3-bar-block w3-card w3-theme-d2" id="mySidebar">
    <div class="w3-container w3-theme-d2">
        <span onclick="closeSidebar()" class="w3-button w3-display-topright w3-large">X</span>
    </div>
    <br>
    <a class="w3-bar-item w3-btn w3-black w3-border-bottom w3-border-theme-light" href="../">HOME</a>
    <a class="w3-bar-item w3-btn w3-black w3-border-bottom w3-border-theme-light" href="">PROJECTS</a>
    <a class="w3-bar-item w3-btn w3-black w3-border-bottom w3-border-theme-light" href="../contacts">CONTACTS</a>
    </nav>

    <header class="w3-bar w3-card w3-theme">
          <button class="w3-bar-item w3-button w3-xxxlarge w3-hover-theme" onclick="openSidebar()">&#9776;</button>
          <h1 id="myheader" class="w3-bar-item">Projects</h1>
    </header>
    <footer class="w3-theme">Copyright <small>&copy; <span><script>document.write(new Date().getFullYear())</script></span>, NightSpirit. All Rights Reserved</small> </footer>
    <script>
        closeSidebar();
        function openSidebar() {
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("myheader").style.left = "30%";
        }

        function closeSidebar() {
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("myheader").style.left = "10%";
        }
    </script>
</body>
</html>