{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<style>
    h1 {
        text-align: left;
        font-family: 'Great';
    }
    footer {
        text-align: center;
    }
</style>
<body>
    <header class="w3-container w3-black">
        <h1>NightSpirit SPACEJAM
            <a class="w3-btn w3-black w3-bottombar w3-hover-border-red w3-border-black" href="">HOME</a>
            <a class="w3-btn w3-black w3-bottombar w3-hover-border-red w3-border-black" href="projects">PROJECTS</a>
            <a class="w3-btn w3-black w3-bottombar w3-hover-border-red w3-border-black" href="contacts">CONTACTS</a>
        </h1>
    </header>
    <footer class="w3-black">Copyright <small>&copy; <span><script>document.write(new Date().getFullYear())</script></span>, NightSpirit. All Rights Reserved</small> </footer>
</body>
</html>